{% extends 'base.html.twig' %}

{% block title %}New Dovetailing{% endblock %}

{% block body %}
    <h1>Create new Dovetailing</h1>

    {{ include('dovetailing/_form.html.twig') }}

    <a href="{{ path('app_dovetailing_index') }}">back to list</a>
{% endblock %}
