{% extends 'base.html.twig' %}

{% block title %}Edit Image{% endblock %}

{% block body %}
    <h1>Edit Image</h1>

    {# todo trouver un logiciel d'édition d'image qui permettait retoucher ou redimensionner l'image #}
{% endblock %}
