{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-2 mb-2">
        <h2>Log in</h2>
        <section class="mt-2">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="email" class="form-control"
                           id="username" name="_username" value="{{ last_username }}"
                           placeholder="mon.email@plop.com">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="_password"
                           placeholder="********">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </section>
    </div>
{% endblock %}
